.turtlBlog > h2, h1, h3, h4, h5, h6{
   margin-top: 20px;
   margin-bottom: 20px;
}

.turtlBlog{
  font-family:sans-serif;
  font-size: 20px;
}

.turtlBlog > blockquote{
   font-size: 1.4em;
   width:100%;
   font-family:Open Sans;
   font-style:italic;
   color: #555555;
   padding:1.2em 30px 1.2em 75px;
   border-left:8px solid #78C0A8 ;
   line-height:1.6;
   position: relative;
   background:#EDEDED;
 }
 
 .turtlBlog > blockquote::before{
   font-family:Arial;
   content: "\201C";
   color:#78C0A8;
   font-size:4em;
   position: absolute;
   left: 10px;
   top:-10px;
 }
 
 .turtlBlog > blockquote::after{
   content: '';
 }
 
 .turtlBlog > a {
  color: blue;
 }
 .turtlBlog > p{
  text-align: justify;
 }

 .turtlBlog > p > a {
  color: blue;
 }

 .like-container {
  position: relative;
  display:flex;
  width: 50px;
  height: 50px;
}

.icon {
  padding: 2px 5px;
  width: fit-content;
}

.like-container:hover .popup-like {
  opacity: 1;
  display: block;
}

.blogdesc{
  font-size: 22px;
  text-align: justify;
  font-family:sans-serif;
  letter-spacing: 1.01px;
}

.popup-like {
  position: absolute;
  top: 0px;
  left: 60px;
  border: 1px solid #beb7b7;
  background-color: #fff;
  border-radius: 50px;
  transition: all 0.25s ease;
  opacity: 0;
  display: none;
}
.likeicon{
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 30px;
}
.likeicon:hover{
  background-color: #f2f0f0;
  
}

